---
import i18next, { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import { changeLanguage } from "i18next";

changeLanguage("en-US");

const pathname = Astro.url.pathname.split("/").filter((part, i) => !(i === 1 && part === i18next.language)).join("/");
---
<main>
	<a href={localizePath(pathname, i18next.language === "es" ? "en-US" : "es")}>
		{t("language")}
	</a>
</main>
